@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
/* ROOT STYLE */
.border-right {
  border-right: 1px solid #fff;
}
.btn-close {
  background-image: unset !important;
}
.noReapet_cover_center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.primary__color {
  color: #2174d1;
}
.secondary__color {
  color: #616161;
}
.f__20 {
  font-size: 20px;
}
.primary__btn {
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: #1c6dd2;
  color: white;
  transition: 0.3s all;
  border: none;
  font-size: 18px;
  font-weight: 800;
  border-radius: 8px;
  letter-spacing: 1.4px;
  padding: 13px 0;
}
.primary__btn:hover {
  background-color: #0e58b3;
}
.secondary__btn {
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #1c6dd2;
  transition: 0.3s all;
  border: 1px solid #1c6dd2;
  font-size: 16px;
  font-weight: 800;
  border-radius: 8px;
  letter-spacing: 1.4px;
  padding: 13px 0;
}
/*********************** Header Style Here ****************************/
header,
.offcanvas-body,
.offcanvas-header {
  background: #1c6dd2;
  color: white;
}
.nav_brand {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.nav-link {
  color: white !important;
}
.nav__search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 10px;
}
.nav__search button,
input {
  background-color: transparent;
  border: none;
  color: white;
  width: fit-content;
}
.nav__search input::placeholder {
  color: white;
  letter-spacing: 0.4px;
}
.nav__search input:focus {
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
/***************************** Header Style End **************************/

/***************************** Hero Container Style Start **************************/
.hero__container {
  padding: 50px 0;
  background-image: linear-gradient(to right, #05164cee, #2173d18d),
    url("../Images/HeroBG.png");
}
.car__bg {
  background-image: url("../Images/heroCar.png");
}

#main-image {
  width: 100% !important;
  height: 400px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
#thumbnail-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.thumbnail {
  width: 100px;
  height: 100px;
}
.thumbnail:hover {
  opacity: 0.7;
}
.slider__text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-bottom {
  border-bottom: 1px solid rgba(128, 128, 128, 0.453);
}
.slide__box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0;
  color: #616161;
}
.slide__box h4 {
  font-size: 20px;
}
.activeBox {
  color: #1c6dd2;
}
/***************************** Hero Container Style End **************************/
/***************************** Offer Container Style Start **************************/
.offer__title {
  color: #21346b;
  font-size: 40px;
  font-weight: 800;
}
.offer__price {
  color: #2174d1;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  border-radius: 12px;
  background: #f1f1f5;
  width: 100%;
}
.price__des {
  font-size: 12px;
  text-align: center;
}
.offer__container {
  position: relative;
  margin-bottom: -150px;
  box-shadow: 2px 2px 46px 19px rgba(18, 15, 36, 0.2);
}
/***************************** Offer Container Style End **************************/

/***************************** Prices Container Style Start **************************/
.prices__container {
  background-image: url("../Images/mainSectionBG.png");
  padding: 200px 0px 164px 0px;
}
.prices__container .border-right {
  border-color: #21346b82;
}
.Discount__title {
  color: #21346b;
  font-size: 35px;
  font-weight: 700;
}
.package__name {
  color: #21346b;
  font-size: 22px;
  font-weight: 600;
}
.price__amount {
  color: #2174d1;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 800;
}
.logo img {
  width: 150px !important;
}
/***************************** Prices Container Style End **************************/

/***************************** Footer Style Start **************************/
footer {
  background-color: #1e1e1e;
  padding: 25px 0;
}
footer a {
  color: white;
}
/***************************** Footer Style End **************************/

/*********************************************** Responsive All CSS Here *****************************************************/

@media screen and (max-width: 576px) {
  .sm-d-none {
    display: none;
  }
  .nav__search {
    padding: 10px 10px !important;
    width: fit-content;
  }
  nav .border-right {
    border: none;
    padding: 0 !important;
  }
  .logo img {
    width: 100px !important;
  }
  .footer__contents {
    flex-direction: column !important;
    justify-content: center;
  }
  .footer__links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .logos__container .row>*{
width: inherit !important;
  }
  .row {
    gap: 15px !important;
  }
  .slider__text{
    padding: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .sm-d-none {
    display: none;
  }
  .nav__search {
    padding: 10px 10px !important;
    width: fit-content;
  }
  nav .border-right {
    border: none;
    padding: 0 !important;
  }
  .slide__box h4 {
    font-size: 14px;
  }
  .primary__btn {
    font-size: 16px;
  }
  .secondary__btn {
    font-size: 12px;
  }
  .offer__title {
    font-size: 20px;
  }
  .offer__price {
    font-size: 30px;
  }
  .prices__container p {
    font-size: 14px;
  }
  .prices__container .px-5 {
    padding: 10px !important;
  }
  .footer__links a {
    font-size: 10px !important;
    white-space: nowrap;
  }
  /* .price__box .px-5{
    padding: 10px !important;
  } */
}
